body{
    text-align: center;
    background-color: rgb(26, 26, 75);
}
#level-title{
    font-family: Marker Felt, fantasy;
    font-size: 4rem;
    margin: 3%;
    color: rgb(218, 224, 125);
}
.container{
    display: block;
    width: 50%;
    margin: auto;
}
.btn {
    margin: 20px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid rgb(1, 1, 19);
    border-radius: 20%;
}
.red {
    background-color: red;
}
  
.green {
    background-color: green;
}
  
  .blue {
    background-color: blue;
}
  
  .yellow {
    background-color: yellow;
}
.game-over {
    background-color: red;
    opacity: 0.8;
}
.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}