body{
    background-color: rgb(19, 19, 43);
    text-align: center;
    margin: 250px;
}
.panel{
    width:200px;
    height:200px;
    display: inline-block;
    cursor: pointer;
}
.panel:hover{
    border: 1px solid white;
    box-shadow: inset 0px 0px 0px 3px cyan;
    /* box-sizing: border-box; */
}

.bottom-left-panel{
    background-color: red;
    border-bottom-left-radius: 100%;
}
.bottom-right-panel{
    background-color: blue;
    border-bottom-right-radius: 100%;
}
.top-left-panel{
    background-color: green;
    border-top-left-radius: 100%;
}
.top-right-panel{
    background-color: yellow;
    border-top-right-radius: 100%;
}
.row{
    
}
.center{
    background-color: rgb(19, 19, 43);
    width:200px;
    height: 200px;
    border-radius: 100%;
    display: inline-block;
    top: 350px;
    left: 620px;
    text-align: center;
    position: absolute;
}